.container {
  display: flex;
  align-items: center; 
  gap: 550px;
  margin-top: 20px;
}             

.filha{
  padding: 100px;

  border-width: 2px;
  border-style: dashed;
  border-color: #000000;

  /*border: 2px dashed #000; -- Pode usar assim mais direto também */
}
